* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.page-intro {
  text-align: center;
  width: 100%;
  padding: 3rem 11vw 0 11vw;
}

.page-intro > h1 {
  text-align: center;
  color: #336699;
  font-style: italic;
  font-size: 2rem;
  font-weight: -100;
}

.timeline-image {
  display: block; /* Affiche l'image en tant qu'élément de bloc */
  margin: 20px auto 0 auto; /* Centre l'image avec un espace autour */
  width: 150px; /* Définit une largeur fixe pour l'image */
  height: 150px; /* Définit une hauteur fixe pour l'image */
  border-radius: 50%; /* Rend l'image circulaire */
  object-fit: cover; /* S'assure que l'image couvre entièrement le cercle */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour plus de profondeur */
}

.timeline h2 {
  color: #66a3d2;
}

.timeline h3 {
  color: #336699;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 90vw;
  margin: 0 auto;
}

/* The timeline's line */
.timeline::after {
  content: "";
  position: absolute;
  width: 0.9vw;
  background-color: #336699;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Container around content */
.timeline section {
  padding: 2vh 5vw;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Circles on the timeline */
.timeline section::after {
  content: "";
  position: absolute;
  width: 1.8vw;
  height: 1.8vw;
  right: -1.5vw;
  background-color: #003366;
  border: 0.5vw solid #66a3d2;
  top: 2vh;
  border-radius: 50%;
  z-index: 1;
}

/* Containers for the left and right side */
.timeline .left {
  left: 0;
}

.timeline .right {
  left: 50%;
}

/* Arrows pointing to content */
.timeline .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 2vh;
  right: 3vw;
  border: medium solid #003366;
  border-width: 1.5vw 0 1.5vw 1.5vw;
  border-color: transparent transparent transparent #66a3d2;
}

.timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 2vh;
  left: 3vw;
  border: medium solid #003366;
  border-width: 1.5vw 1.5vw 1.5vw 0;
  border-color: transparent #66a3d2 transparent transparent;
}

.timeline .right::after {
  left: -1.5vw;
}

/* The actual content */
.timeline article {
  padding: 2vh 4vw;
  background-color: white;
  position: relative;
  border-radius: 0.5vw;
}

/* Media queries - Responsive timeline on smaller screens */
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 5vw;
  }

  .timeline section {
    width: 100%;
    padding-left: 10vw;
    padding-right: 5vw;
  }

  .timeline section::before {
    left: 8vw;
    border: medium solid white;
    border-width: 1.5vw 1.5vw 1.5vw 0;
    border-color: transparent white transparent transparent;
  }

  .timeline .left::after,
  .timeline .right::after {
    left: 5vw;
  }

  .timeline .right {
    left: 0%;
  }

  .timeline article {
    width: 90%;
  }
}
