
/* Footer Styles */
footer {
  background-color: #003366;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-section p,
.footer-section a {
  font-size: 1rem;
  color: #ddd;
  margin-bottom: 1rem;
}

.footer-section a {
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.footer-section a:hover {
  color: #fff;
  transform: scale(1.1);
}

.footer-section img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  resize: vertical
}

.contact-form button {
  background-color: white;
  color: #003366;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgb(226, 226, 226);
}

.other_site_pic img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

.social-links {
  display: flex;
  gap: 2rem;
}

form {
  display: flex;
  gap: 4rem;
}

form button {
  height: 3rem;
  width: 10rem;
}

form textarea {
  width: 20rem;
  min-height: 1rem;
  height: 1rem;
}

form div {
  display: flex;
  flex-direction: column;
}

form button {
  margin-top: 1.75rem;
  height: 2.5rem;
}

