footer {
  background-color: #003366;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;  /* Empêche le dépassement de la largeur de la page */
  overflow: hidden; /* Cache les éléments qui dépassent */
  margin: 0 auto;   /* Centre le footer */
}

footer .content-section {
  flex: 1;
  padding: 10px;
  text-align: center;
}

footer img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;  /* Évite les débordements */
}

footer .social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

footer .form-section {
  flex: 1;
  padding: 10px;
  text-align: center;
}

@media (max-width: 991px) {
  footer {
    flex-direction: column; /* Change la direction en colonne pour les petits écrans */
    text-align: center;
  }

  footer .content-section,
  footer .form-section {
    width: 100%;
    margin-bottom: 10px;
  }
}
