* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #003366;
  /* padding: 1vh 4rem 1vh 3vw; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: content-box;
}

header > * {
  overflow: visible;
}

.logo {
  width: 4rem;
  font-weight: bold;
  color: white;
  transition: all 0.5s ease 0s;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

nav {
  display: flex;
  gap: 1vw;
  overflow: auto;
  scrollbar-width: thin;
  margin-right: 3rem;
  flex-wrap: wrap;
}

nav a {
  background-color: white;
  color: #003366;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  height: 3vh;
  max-width: 20vw;
  white-space: nowrap;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

nav a.active {
  background-color: #0852ba;
  color: white;
  border: 2px solid white !important;
}

nav a:hover {
  background-color: #0852ba;
  color: white;
}

.logo img {
  width: 100%; /* Ajustez la hauteur selon la taille souhaitée */
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  background-color: white;
  height: 3px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1vh 1rem;
  }

  nav {
    justify-content: center;
    margin-right: 0;
  }

  nav a {
    max-width: 100%;
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: flex;
  }

  nav.menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav.menu.show {
    display: flex;
  }

  nav a {
    margin: 10px 0;
    text-align: center;
  }
}
