body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0px;
  /*prendre les dimensions de l'écran*/
  height: 100vh;
}
.quiz {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 8px;
}
.question-section {
  margin-bottom: 20px;
}
.question-count {
  font-size: 18px;
  margin-bottom: 10px;
}
.question-text {
  font-size: 20px;
  margin-bottom: 20px;
  /*center le texte*/
  text-align: center;
}
.answer-section button {
  display: block;
  width: 100%;
  background-color: #66a3d2;
  color: white;
  border: none;
  padding: 20px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
.answer-section button:hover {
  background-color: #0055cc;
}
.score-section {
  font-size: 24px;
  text-align: center;
}
.question-number-position {
  position: absolute; /* Permet de positionner par rapport à l'élément parent */
  bottom: 20px; /* Espace du bas */
  right: 20px; /* Espace de la droite */
  font-size: 16px; /* Taille de police */
  color: #003366; /* Couleur du texte */
  font-weight: bold; /* Texte en gras */
}
